<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectRatio</key>
	<integer>1</integer>
	<key>bundleIdentifier</key>
	<string>com.tencent.jkchess</string>
	<key>bypass</key>
	<false/>
	<key>checkMicPermissionSync</key>
	<true/>
	<key>customScaler</key>
	<real>2</real>
	<key>disableBuiltinMouse</key>
	<false/>
	<key>disableTimeout</key>
	<false/>
	<key>discordActivity</key>
	<dict>
		<key>applicationID</key>
		<string></string>
		<key>details</key>
		<string></string>
		<key>enable</key>
		<true/>
		<key>image</key>
		<string></string>
		<key>state</key>
		<string></string>
	</dict>
	<key>enableScrollWheel</key>
	<true/>
	<key>floatingWindow</key>
	<false/>
	<key>hideTitleBar</key>
	<false/>
	<key>injectIntrospection</key>
	<false/>
	<key>inverseScreenValues</key>
	<false/>
	<key>iosDeviceModel</key>
	<string>iPad13,8</string>
	<key>keymapping</key>
	<true/>
	<key>limitMotionUpdateFrequency</key>
	<false/>
	<key>metalHUD</key>
	<false/>
	<key>noKMOnInput</key>
	<true/>
	<key>notch</key>
	<false/>
	<key>playChain</key>
	<true/>
	<key>playChainDebugging</key>
	<false/>
	<key>resizableAspectRatioHeight</key>
	<integer>0</integer>
	<key>resizableAspectRatioType</key>
	<integer>0</integer>
	<key>resizableAspectRatioWidth</key>
	<integer>0</integer>
	<key>resolution</key>
	<integer>2</integer>
	<key>rootWorkDir</key>
	<true/>
	<key>sensitivity</key>
	<real>50</real>
	<key>version</key>
	<string>3.0.0</string>
	<key>windowFixMethod</key>
	<integer>0</integer>
	<key>windowHeight</key>
	<integer>1080</integer>
	<key>windowWidth</key>
	<integer>1920</integer>
</dict>
</plist>
